<app-notifications *ngIf="errors" [errors]="errors"></app-notifications>

<div class="form-container">
  <form [formGroup]="myForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="file" class="custom-file-upload-button">Import Image</label>
      <input
        name="file"
        id="file"
        type="file"
        (change)="onFileChange($event)"
      />
    </div>
  </form>

  <div class="window inner-window">
    <div class="window-body">
      <div class="title-bar">
        <div class="title-bar-text">
          {{
            imagePreviewMetadata ? "Image Preview" : "Drag-n-Drop Image Upload"
          }}
        </div>
      </div>
      <div
        class="image-container drag-n-drop"
        *ngIf="!imagePreviewMetadata; else imagePreview"
      >
        <div class="icon icon-drag-drop"></div>
        <div class="text">
          Click above to browse your files or drag-n-drop the image here.
        </div>
      </div>
      <div class="status-bar">
        <p class="status-bar-field">
          {{
            imagePreviewMetadata
              ? imagePreviewMetadata.name
              : "- Upload an image -"
          }}
        </p>
        <p class="status-bar-field">
          {{
            imagePreviewMetadata
              ? (imagePreviewMetadata.size | fileSize: 0)
              : "0kb"
          }}
        </p>
        <p class="status-bar-field">Save the bees 🐝 🍯</p>
      </div>
    </div>
  </div>

  <button
    *ngIf="imagePreviewMetadata"
    type="submit"
    class="submit-btn"
    (click)="submitForm()"
  >
    Submit
  </button>
</div>

<!-- //---------------- -->
<!--       templates    -->
<!-- //---------------- -->

<ng-template #imagePreview>
  <div class="image-preview">
    <img [src]="imagePreviewMetadata.previewUrl" />
  </div>
</ng-template>
