<div class="window">
  <app-navbar></app-navbar>
  <div class="window-body">
    <aside>
      <ul class="tree-view">
        <li><a [routerLink]="['/home']">Intro</a></li>
        <li>
          <a [routerLink]="['/app']">File</a>
          <ul>
            <li><a [routerLink]="['/app/import']">Import</a></li>
            <li><a [routerLink]="['/app/export']">Export</a></li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['/more']">More</a>
          <ul>
            <li><a [routerLink]="['/more/donate']">Donate</a></li>
            <li><a [routerLink]="['/more/contact']">Contact</a></li>
            <li><a [routerLink]="['/more/github']">GitHub</a></li>
          </ul>
        </li>
      </ul>
    </aside>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
  <app-footer></app-footer>
</div>
