.window {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.window-body {
  height: 100%;
  margin: 1px;
  display: flex;
  flex: 1;

  &#app-window-body {
    @media (max-width: 550px) {
      flex-direction: column;
    }
  }
}

aside {
  width: 150px;
  top: 19px;
  left: -6px;
  bottom: 16px;

  .tree-view {
    height: 100%;
  }

  @media (max-width: 550px) {
    width: auto;
  }
}

main {
  width: 100%;
}

.confirmation-modal-container {
  display: flex;

  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, .6);

  .window {
    min-height: 200px;

    .window-body {
      padding: 0 10px;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;

      .modal-controls {
        display: flex;
        justify-content: space-evenly;
        width: 100%;

        button {
          cursor: pointer;
        }
      }
    }
  }

  .icon-warning {
    background-image: url(../assets/msg_warning-0.png);
    opacity: 0.7;
    height: 64px;
    width: 64px;
  }
}