:host {
  text-align: center;
  display: block;
  padding: 0 10px;
  max-width: 600px;
  margin: 0 auto;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;

  img {
    image-rendering: pixelated;
    width: 40px;
  }
}

p {
  margin: 8px 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

canvas {
  border: 1px solid black;
  height: 500px;
  width: 500px;
}

hr {
  margin: 20px auto;
}

.sub-section-divider {
  width: 75%;
  border: 0;
  border-bottom: 1px dotted #595959;
}
