<div *ngIf="errors" class="errors-container">
  <div *ngFor="let error of errors; let i = index" class="window error-window">
    <div class="window-body" (click)="popItem($event)" [attr.data-index]="i">
      <div class="title-bar">
        <div class="title-bar-text">Error. Click to dismiss.</div>
        <div class="title-bar-controls">
          <button aria-label="Close"></button>
        </div>
      </div>
      <div class="content-container">
        <div class="icon icon-error"></div>
        <p>{{ error }}</p>
      </div>
    </div>
  </div>
</div>
